#
#  Battery driver configuration
#

menuconfig ASUS_Z170CG_BATTERY
	bool "ASUS Z170CG Battery support"
	help
	  Say Y here. This option doesn't affect the kernel.
	  If unsure, say Y.

if ASUS_Z170CG_BATTERY

config CHARGER_SMB358_Z170CG
	tristate "Summit Microelectronics SMB358 Battery Charger"
	depends on I2C
	depends on IDI
	default n
	help
	  Say Y to include support for Summit Microelectronics
	  SMB358 Battery Charger.

config GAUGE_SN700002_Z170CG
	tristate "TI bq27621 battery gauge driver"
	depends on I2C
	depends on IDI
	default n
	help
	  Say Y to include support for TI bq27621
	  battery gauge driver.

endif

